<div class="quad-banner">
  <div class="quad-banner__container {{container}}">
    <div class="quad-col">
      {{ firstcol_content }}
    </div>
    <div class="quad-col">
      {{ secondcol_content}}
    </div>
    <div class="quad-col">
      {{ thirdcol_content}}
    </div>
    <div class="quad-col">
      {{ forthcol_content}}
    </div>
  </div>
</div>
